* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  max-width: 1440px;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  background: linear-gradient(to right, #01DF74, #01DFD7);
}